<body
  style="
    font-family: roboto;
    line-height: 20px;
    padding: 10px 20px;
    width: 80%;
    background-color: white;
    color: #17202A;
    margin: 0 auto;
  "
>
  <h3>CEOBuySell.com</h3>
  <hr />

  <div>
    <div>
      {% if purchase.count != 0 %}
          <br/>
          <h2 style="text-align: center">
            {{ purchase.count }} CEOs bought shares today!
            <a href="{{ p_link }}" target="_blank" style="color:#016bad; font-weight:normal; font-size:12px; text-decoration:underline">(view all)</a>
          </h2>
          <br />
          {% for item in purchase.data %}
              <div style="background-color: #F2F3F4; margin:10px 0px;padding:10px 20px; border-radius:10px;font-size:14px">
                  <div>
                      <p>
                          <span style="text-transform: uppercase; color: #5d69d2; font-weight:bold">{{ item.ticker }}</span>
                          <br>
                          <b style="text-transform: capitalize;">{{ item.ceo_name }}</b>
                          <span style="color:#566573">the CEO of</span>
                          <b>{{ item.company_name }}</b>,
                          <span style="color:#566573">Bought</span>
                          <b>{{ item.total_shares }}</b>
                          <span style="color:#566573">shares at</span>
                          <b>${{ item.share_price }}</b>
                          <span style="color:#566573">for a total amount of</span>
                          <b>${{ item.total_amount_spent }}.</b>
                          <br>
                          <span style="color:#566573">The CEO now owns</span>
                          <b>{{ item.total_shares_after_transaction }}</b>
                          <span style="color:#566573">shares</span>
                          <b style="color:#419a57">(+{{ item.change_in_shares_percentage }})</b>.
                          <a href="{{ item.link }}" target="_blank" style="color:#5d69d2">
                            <i style="margin-left: 5px">{{ item.periodOfReport }}.</i>
                          </a>
                      </p>                        
                  </div>
              </div>
          {% endfor %}
      {% endif %}
    </div>

    <div>
      {% if sale.count != 0 %}
          <br/>
          <h2 style="text-align: center">
            {{ sale.count }} CEOs Sold shares today!
            <a href="{{ s_link }}" target="_blank" style="color:#016bad; font-weight:normal; font-size:12px; text-decoration:underline">(view all)</a>
          </h2>
          <br />
          {% for item in sale.data %}
              <div style="background-color: #F2F3F4; margin:10px 0px;padding:20px; border-radius:10px;font-size:14px">
                <div>
                  <p>
                    <span style="text-transform: uppercase; color: #5d69d2; font-weight:bold">{{ item.ticker }}</span>
                    <br>
                    <b style="text-transform: capitalize;">{{ item.ceo_name }}</b>
                    <span style="color:#566573">the CEO of</span>
                    <b>{{ item.company_name }}</b>,
                    <span style="color:#566573">Sold</span>
                    <b>{{ item.total_shares }}</b>
                    <span style="color:#566573">shares at</span>
                    <b>${{ item.share_price }}</b>
                    <span style="color:#566573">for a total amount of</span>
                    <b>${{ item.total_amount_spent }}.</b>
                    <br>
                    <span style="color:#566573">The CEO now owns</span>
                    <b>{{ item.total_shares_after_transaction }}</b>
                    <span style="color:#566573">shares</span>
                    <b style="color:#7B241C ">(-{{ item.change_in_shares_percentage }})</b>.
                    <a href="{{ item.link }}" target="_blank" style="color:#5d69d2">
                      <i style="margin-left: 5px">{{ item.periodOfReport }}.</i>
                    </a>
                </p>                        
                </div>
              </div>
          {% endfor %}
      {% endif %}
    </div>


    <br />
    <p style="text-align: center">
      Don't forget to enable real-time notifications, click the button to get
      started.
    </p>
    <div style="text-align: center">
      <a
        href="{{ dashboard }}"
        target="_blank"
        style="
          text-decoration: none;
          background-color: #222645;
          color: #fff;
          padding: 15px 25px;
          margin-top: 10px;
          border-radius: 5px;
          display: inline-block;
        "
        >Access Dashboard
      </a>
    </div>
    <br />

    <hr />
    <br />

    <p>
      Copyright © 2025 CEOBuySell.com. All rights reserved.
      <br />
      Click
      <a
        href="{{ cancelation_url }}"
        target="_blank"
        style="text-decoration: underline; color: #016bad"
        >here</a
      >
      to unsubscribe.
    </p>
  </div>
</body>

